# ignore everything
*
# ignore user configuration
github-user.edn
# Recursively allow files under .hooks
!/.hooks/**
# Allow .gitignore
!.gitignore
# Allow all top-level scripts
!*.sh
# Allow all pom top-level pom.xml files
!/*pom.xml
# Allow top-level markdown files
!/*.md
# Allow build script
!build.yml
